@import './header.scss';
@import './menu.scss';
@import './hero.scss';
@import './aboutMe.scss';
@import './skills.scss';
@import './footer.scss';
@import './darkSwitch.scss';

:root{
    --red: #ff3860;
    --red-dark: #ff1443;
    --red-light: #ff5c7c;
    --blue: #498afb;
    --blue-dark: #2674fa;
    --blue-light: #6ca0fc;
    --orange: #fa8142;
    --orange-dark: #f96a1f;
    --orange-light: #fb9865;
    --green: #09c372;
    --green-dark: #07a15e;
    --green-light: #0be586;
    --purple: #9166cc;
    --purple-dark: #7d4bc3;
    --purple-light: #a481d5;
    --yellow: #ffdd57;
    --yellow-dark: #ffd633;
    --yellow-light: #ffe47a;
    --pink: #ff4088;
    --pink-dark: #ff1c72;
    --pink-light: #ff649e;
    --gray0: #f8f8f8;
    --gray1: #dbe1e8;
    --gray2: #b2becd;
    --gray3: #6c7983;
    --gray4: #454e56;
    --gray5: #2a2e35;
    --gray6: #12181b;
    --font-size: 20px;
    --orange-pink: linear-gradient(to bottom right,var(--orange-light),var(--orange-dark) 85%);
    --green-grad: linear-gradient(to bottom right,var(--green-light),var(--green-dark) 85%);

    --switchSpinner: white;
    --switch: #5f616d;
    // --background: var(--gray6);
    // --text-color: var(--gray5);
    // --h-color: #fff;
    // --nav-shadow: 4px 0 10px -3px #010101;
    // --card-shadow: 0 4px 8px rgba(0,0,0,0.38);
    // --toc-shadow: rgba(0,0,0,0.7) 0px 10px 20px 0px;
    // --nav-bg: var(--gray2);
    // --tag-bg: var(--gray2);
    // --code-bg: #22262f;
    // --card-bg: var(--gray5);
    // --overlay-bg: rgba(0,0,0,0.9);
    // --h-border: 2px dashed var(--nav-bg);
    // --nav-border: 2px dashed var(--text-color);
    // --card-radius: 0.25em;
    // transition: all .3s ease;
    // --wrapperSpace: 1.5em;
}



body{
    margin: 0;
    font-family: 'Muli', sans-serif;
    overflow-x: hidden;
    background: var( --background);
}

h1,h2,h3,h4,h5,h6{
    color: var(--text-color);
}

p{
    color: var(--text-color);
}

.wrapper{
    padding: 0 var(--wrapperSpace);
    max-width: calc(1115px + 1.5em);
    margin: auto;
    width: 100%;
    box-sizing: border-box;
}

hr{
    border: none;
    border-bottom: var(--h-border);
}

@mixin tag {
    display: inline-block;
    border-radius: 3px;
    padding: .2em .5em .3em;
    border-radius: 2px;
    background: var(--tag-bg);
    color: var(--text-color);
    font-weight: 700;
    margin: .25em .1em;
    font-size: 1.3em;
    border-radius: 4px;
}

.tag{
    @include tag;

    &-html{
        background: #f16528;
        color: #fff;
    }

    &-css{
        color: #313244;
        background: #f954be;
    }

    &-js{
        color: #000;
        background: #f0db4f;
    }

    &-fb{
        background: #1774eb;
        color: #f8f8f8;
    }

    &-github{
        color: #fff;
        background: #24292e;
    }

    &-web{
        background-image: linear-gradient(90deg,#ff8901,#db1d5f);
        font-weight: 700;
        color: #fff;
    }

    @media screen and (min-width: 768px){
        font-size: 2em;
    }
}

@mixin icon {
    width: 30px;
    height: 30px;
    display: inline-flex;
}

.icon{
    &__github{
        @include icon;
        background: url('/static/images/github.svg') no-repeat;
        background-size: cover;
    }
    &__facebook{
        @include icon;
        background: url('/static/images/facebook.svg') no-repeat;
    }
    &__instagram{
        @include icon;
        background: url('/static/images/instagram.svg') no-repeat;
        background-size: cover;
    }
}

.is-dark-mode {
    --background: var(--gray6);
    --text-color: var(--gray2);
    --h-color: #fff;
    --nav-shadow: 4px 0 10px -3px #010101;
    --card-shadow: 0 4px 8px rgba(0,0,0,0.38);
    --toc-shadow: rgba(0,0,0,0.7) 0px 10px 20px 0px;
    --nav-bg: var(--gray5);
    --tag-bg: var(--gray4);
    --code-bg: #22262f;
    --card-bg: var(--gray5);
    --overlay-bg: rgba(0,0,0,0.9);
    --h-border: 2px dashed var(--nav-bg);
    --card-radius: 0.25em;
    transition: all .3s ease;
    --switchSpinner: #282943;
    --switch: linear-gradient(to right, #4796d2 0%, #37ce8f 100%);
}

.is-light-mode {
    --background: var(--gray0);
    --text-color: var(--gray4);
    --h-color: var(--gray6);
    --nav-shadow: 4px 0 10px -3px #c1c1c1;
    --card-shadow: 0 4px 8px rgba(0,30,84,0.12);
    --toc-shadow: rgba(0,0,0,0.2) 0px 10px 20px 0px;
    --nav-bg: #fff;
    --tag-bg: var(--gray2);
    --code-bg: #fff;
    --card-bg: #fff;
    --overlay-bg: hsla(0,0%,100%,0.9);
    --h-border: 2px dashed var(--gray1);
    transition: all .5s ease;
    --switchSpinner: white;
    --switch: #5f616d; 
}

@media (prefers-color-scheme: dark){
    :root{
        --background: var(--gray6);
        --text-color: var(--gray2);
        --h-color: #fff;
        --nav-shadow: 4px 0 10px -3px #010101;
        --card-shadow: 0 4px 8px rgba(0,0,0,0.38);
        --toc-shadow: rgba(0,0,0,0.7) 0px 10px 20px 0px;
        --nav-bg: var(--gray5);
        --tag-bg: var(--gray4);
        --code-bg: #22262f;
        --card-bg: var(--gray5);
        --overlay-bg: rgba(0,0,0,0.9);
        --h-border: 2px dashed var(--nav-bg);
        --card-radius: 0.25em;
        transition: all .3s ease;
        --switchSpinner: #282943;
        --switch: linear-gradient(to right, #4796d2 0%, #37ce8f 100%);
    }
}

